<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Compra Finalizada!</title>
  <link th:href="@{/bootstrap-5.3.8-dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/_header :: header}"></div>
<div th:replace="~{fragments/_navbar :: navbar}"></div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">

      <div th:if="${success}" class="alert alert-success h4" th:text="${success}"></div>

      <h1 class="display-4">Obrigado pela sua compra! 🥳</h1>
      <p class="lead">Seu pedido foi processado e está sendo preparado para envio.</p>
      <hr>
      <p>Você pode continuar navegando em nossos produtos ou voltar para a página inicial.</p>
      <a th:href="@{/produtos}" class="btn btn-primary btn-lg">Ver mais produtos</a>
      <a th:href="@{/home}" class="btn btn-secondary btn-lg">Ir para Home</a>
    </div>
  </div>
</div>

<div th:replace="~{fragments/_footer :: footer}"></div>

<script th:src="@{/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>